/*==== BODY ====================================================================*/
body {
	font-family: "open sans regular", sans-serif;
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0px;
	margin: 0;
	border: 0px;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans Bold";
	color: #000;
	margin: 0px;
}

h2 {
	line-height: 1;
}

h3 {
	line-height: 1;
}

h4 {
	text-transform: uppercase;
	text-align: center;
}

/* ===== body end ==========*/
/*==========fonts=========*/
@font-face {
	font-family: "Open Sans Regular";
	src: url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/*=================================max-width: 640px===mobile===*/
@media (max-width: 640px) {

	/*=======header===*/
	.header {
		background-image: url(../images/banner-mobile.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #666666;
		background-size: cover;
		position: relative;
		max-width: 640px;
		width: 100%;
		display: block;
		margin: auto;
		z-index: 0;
	}

	.header::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	.header-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 0px 15px;
		z-index: 30;
		height: 640px;
	}

	.header-menu-link {
		display: none;
	}

	.header-logo-image {
		margin-bottom: 40px;
		max-width: 260px;
	}

	.header-title {
		font-family: "open sans bold", sans-serif;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
		line-height: 1.7;
		font-size: 24px;
		max-width: 260px;
	}

	/*=====header end===*/
	/*===trends title=======*/
	.news-posts-title {
		margin-bottom: 40px;
		font-weight: 700;
		margin-top: 40px;
		font-size: 20px;
		color: #000;
	}

	.news-posts-title::after {
		content: "";
		background-color: #e1d9bd;
		margin: 10px auto 30px auto;
		display: block;
		width: 65px;
		height: 2px;
	}

	/*=====trends title end===============*/
	/*====================trends===*/

	.trend-picture {
		height: 230px;
	}

	/*=================green garden===*/
	.box-green-garden {
		background-color: #fbfff1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto 4px auto;
		position: relative;
		max-width: 360px;
		height: 230px;
		z-index: 0;
	}

	.box-green-garden::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 232px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================beautiful picture===*/
	.box-beautiful-pictures {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		margin: 0px auto 5px auto;
		position: relative;
		max-width: 360px;
		height: 230px;
		z-index: 0;
	}

	.box-beautiful-pictures::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 232px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=========first trip===*/
	.box-trip {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto 4px auto;
		position: relative;
		max-width: 360px;
		height: 230px;
		z-index: 0;
	}

	.box-trip::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 232px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================vitamins===*/
	.box-vitamins {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto 4px auto;
		position: relative;
		max-width: 360px;
		height: 230px;
		z-index: 0;
	}

	.box-vitamins::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 232px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*==vitamins end===*/
	/*================common trends=====*/
	.trend-container {
		border: 2px solid #b59a4b;
		padding: 0px 25px 30px 25px;
		margin: 80px 15px 15px 15px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		z-index: 30;
	}

	.trend-title {
		text-transform: uppercase;
		font-family: inherit;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
	}

	/*==common title end===*/
	/*==========================================main===*/
	/* ===============article===*/
	.content-wrapper {
		padding: 0px 15px 0px 15px;
		max-width: 360px;
		margin: auto;
	}

	.content {
		box-sizing: border-box;
		margin: 35px 0 20px 0;
		max-width: 330px;
	}

	.content-picture {
		background-color: #666666;
		width: 330px;
		height: 254px;
	}

	.content-picture-img {
		max-width: 330px;
	}

	.content-text {
		max-width: 330px;
	}

	.row-tags {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.list-tags {
		display: flex;
		flex-wrap: wrap;
	}

	.item-tag-link {
		text-transform: uppercase;
		font-family: inherit;
		color: #b59a4b;
		font-weight: 700;
		font-size: 15px;
	}

	.list-tags :not(:last-child) {
		margin: 0px 20px 0px 0px;
	}

	.item-tag-link:hover {
		text-decoration: underline;
		color: #b59a4b;
	}

	.title {
		text-transform: uppercase;
		color: #000000;
		font-weight: 700;
		font-size: 20px;
	}

	.post-info {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.post-date {
		font-size: 10px;
	}

	.post-autor {
		font-weight: 700;
		font-size: 12px;
	}

	.post-text {
		font-weight: 400;
		font-size: 15px;
	}

	.post-text>p:not(:first-child) {
		margin-top: 10px;
	}

	.post-text::after {
		content: "";
		background-color: #eeeeee;
		margin: 20px auto 35px auto;
		display: block;
		width: 330px;
		height: 3px;
	}

	/*============article end===*/
	/*=======================section-sidebar===*/
	.figure-img {
		background-color: #666;
		width: 70px;
		height: 70px;
	}

	.section-sidebar {
		margin: auto;
	}

	.news-post {
		display: flex;
	}

	.news-post:not(:first-child) {
		margin-top: 20px;
	}

	.news-post-date {
		height: 70px;
		display: flex;
		flex-direction: column;
		margin-left: 20px;
	}

	.post-title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		color: #000;
	}

	/*================================search===*/
	.search-form {
		position: relative;
		margin-top: 60px;
		margin-bottom: 60px;
		width: 330px;
	}

	.search-form-input {
		background-color: #f4f7f6;
		border: 1px solid #b59a4b;
		box-sizing: border-box;
		border-radius: 3px;
		padding-left: 15px;
		position: relative;
		font-size: 10px;
		outline: none;
		width: 282px;
		height: 48px;
		z-index: 1;
	}

	.search-form-input:focus {
		border: 1px solid #b59a4b;
	}

	.search-form-button {
		background-image: url(../svg/search.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #b59f5b;
		background-size: 20px;
		border-radius: 3px;
		position: absolute;
		cursor: pointer;
		height: 47px;
		width: 47px;
		right: 0;
		margin: 0;
		z-index: 30;
	}

	.search-form-button:hover {
		background-color: #292314;
	}

	.visually-hidden {
		clip: rect(0 0 0 0);
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}

	/*==search end=============*/
	/*=============mailing============*/
	.email__input {
		background-color: #f4f7f6;
		border: 1px solid #f4f7f6;
		box-sizing: border-box;
		border-radius: 3px;
		padding-left: 15px;
		font-size: 10px;
		outline: none;
		width: 330px;
		height: 47px;

	}

	.email__input:focus {
		border: 1px solid #b59a4b;
	}

	.subscription-button {
		background-color: #b59a4b;
		text-transform: uppercase;
		font-family: inherit;
		border-radius: 3px;
		color: #ffffff;
		cursor: pointer;
		margin-top: 16px;
		width: 330px;
		height: 47px;
		font-size: 700;
	}

	.subscription-button:hover {
		background-color: #292314;
	}

	/*===mailing end==========*/
	/*==================tags========*/
	.tags-list {
		margin: auto;
	}

	.list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	.link-tag-list {
		border: 4px solid #eeeeee;
		text-transform: uppercase;
		margin: 0px 6px;
		border-radius: 1px;
		padding: 4px 11px;
		font-size: 10px;
		font-weight: 700;
		line-height: 3;
		color: #000;
	}

	.link-tag-list:hover {
		border: 4px solid #b59a4b;
	}

	/*===tags end=========*/
	/* ==========topic========== */
	.topic-wrap {
		margin: auto;
	}

	.topic-item {
		position: relative;
		font-weight: 700;
		display: flex;
	}

	.topic-item:not(:first-child) {
		margin-top: 30px;
	}

	.topic-item-link {
		color: #000;
		font-size: 17px;
	}

	.topic-item-link:hover {
		color: #b59a4b;
	}

	.topic-item::after {
		content: "";
		background-color: #eeeeee;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 30px;
	}

	.topic-item-counter {
		position: relative;
		color: #b59a4b;
		margin-top: -8px;
		font-size: 12px;
		top: 0;
	}

	/* ===topic end=========*/
	/*===================shop===============*/
	.schop {
		max-width: 360px;
		padding: 0px 35px;
		margin: auto;
	}

	.schop-img {
		width: 290px;
		margin: auto;
	}

	.schop-content-picture {
		background-color: #666;
		width: 290px;
		height: 290px;
	}

	.schop-post {
		padding: 20px 20px 25px 20px;
		width: 336px;
		left: -23px;
		top: -40px;
		border: 3px solid #d3c59d;
		border-radius: 2px;
		position: relative;
	}

	.schop-post-title {
		display: flex;
		text-align: start;
		margin-top: 18px;
		margin-bottom: 6px;
	}

	.post-txt {
		margin-bottom: 25px;
		line-height: 1.5;
		font-family: inherit;
		font-weight: 400;
	}

	.link-line {
		font-family: inherit;
		color: #baa667;
		text-decoration: underline;
	}

	.link {
		font-family: inherit;
		color: #baa667;
	}

	.button {
		width: 150px;
		height: 50px;
	}

	.button-schop {
		background-color: #b59a4b;
		text-transform: uppercase;
		font-family: inherit;
		border-radius: 3px;
		color: #ffffff;
		cursor: pointer;
		width: 150px;
		height: 50px;
		font-size: 700;
	}

	.subscription_button:hover {
		background-color: #292314;
	}

	.schop-container {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.old-price {
		text-decoration: line-through;
	}

	/*==================schop end===*/
	/*===========================footer===*/
	.footer {
		padding-bottom: 30px;
		margin-top: 60px;
	}

	.container {
		max-width: 360px;
		margin: auto;
		padding: 0 15px;
	}

	.footer-social {
		display: flex;
		justify-content: center;
		padding: 30px 0;
		background-color: #f4f7f6;
	}

	.social-svg {
		width: 20px;
		height: 20px;
		margin-right: 30px;
	}

	.footer-copirate {
		margin-top: 70px;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 12px;
		text-align: center;
		color: #999999;
	}

	.container-copirate {
		display: flex;
		justify-content: center;
	}

	/*==================footer end===*/
}

/*=================================max-width: 640px===mobile end===*/
@media {}

/*====================================================tablet========*/
@media (min-width: 641px) and (max-width: 1200px) {
	.header {
		padding: 35px 35px;
		background-image: url(../images/banner-bg-tablet.jpg);
		background-size: cover;
		background-color: #666666;
		background-repeat: no-repeat;
		background-position: center, 0px;
		position: relative;
		min-width: 641px;
		max-width: 1200px;
		width: 100%;
		z-index: 0;
	}

	.header::before {
		content: "";
		display: block;
		background-color: black;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
		position: absolute;
	}

	.header-container {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 30;
	}

	.header-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-menu-list {
		display: flex;
		flex-wrap: wrap;
	}

	.header-menu-link {
		display: none;
	}

	.header-box-title {
		display: flex;
		justify-content: center;

	}

	.header-item-title {
		display: flex;
		align-items: center;
		height: 310px;

	}

	.header-title {
		max-width: 600px;
		text-align: center;
		color: #ffffff;
		line-height: 1.7;
		font-size: 35px;
		text-transform: uppercase;
		font-family: "open sans bold", sans-serif;
	}

	/* ================ header end =========== */
	/*===trends title=======*/
	.news-box-title {
		display: flex;
		justify-content: center;
	}

	.news-items-title {
		display: flex;
		align-items: flex-end;
		height: 100px;
	}

	.news-posts-title {
		font-size: 20px;
	}

	.news-posts-title::after {
		content: "";
		background-color: #e1d9bd;
		margin: 10px auto 17px auto;
		display: block;
		width: 65px;
		height: 2px;
	}

	/*====================trends===*/
	.trend-picture {
		height: 245px;
	}

	.box-pictures {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	/*=================green garden===*/
	.box-green-garden {
		background-color: #fbfff1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		height: 245px;
		margin-right: 1px;
		margin-bottom: 1px;
		z-index: 0;
	}

	.box-green-garden::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================beautiful picture===*/
	.box-beautiful-pictures {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		height: 245px;
		margin-left: 1px;
		margin-bottom: 1px;
		z-index: 0;
	}

	.box-beautiful-pictures::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=========first trip===*/
	.box-trip {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		height: 245;
		margin-right: 1px;
		margin-top: 1px;
		z-index: 0;
	}

	.box-trip::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================vitamins===*/
	.box-vitamins {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		height: 245px;
		margin-left: 1px;
		margin-top: 1px;
		z-index: 0;
	}

	.box-vitamins::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*==vitamins end===*/
	/*================common trends=====*/

	.trend-container {
		border: 2px solid #b59a4b;
		padding: 0px 25px 0px 25px;
		margin: 80px 15px 15px 15px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		z-index: 30;
	}

	.trend-title {
		text-transform: uppercase;
		font-family: inherit;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
	}


	/*==common trends end===*/
	/*======================== MAIN =================================================*/
	.content-wrapper {
		max-width: 768px;
		padding: 0px 35px;
		margin: auto;
		display: flex;
	}

	.list-content {
		max-width: 390px;
		margin: 50px 35px 0px 0px;
	}

	.content {
		max-width: 390px;
		box-sizing: border-box;

	}

	.content-picture {
		background-color: #666666;
		width: 390px;
		height: 300px;
	}

	.content-picture-img {
		width: 390px;
		height: 300px;
	}

	.content-text {
		width: 390px;
	}

	.list-tags {
		display: flex;
		flex-wrap: wrap;
		margin: 15px 0px 5px 0px;
	}

	.item-tag-link {
		color: #b59a4b;
		text-transform: uppercase;
		font-weight: 700;
	}

	.item-tag-link:hover {
		color: #b59a4b;
		text-decoration: underline;
	}

	.list-tags :not(:last-child) {
		margin: 0px 18px 0px 0px;
	}

	.title {
		color: #000000;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
	}

	.title:hover {
		color: #b59f5b;
	}

	h2 {
		font-weight: 700;
		margin: 0px 0px 35px 0px;
	}

	.post-info {
		margin: 0px 0px 30px 0px;
	}

	.post-date {
		color: #989898;
	}

	.post-autor {
		font-weight: 700;
		margin: 0px 0px 0px 15px;
	}

	.post-text>p {
		font-size: 15px;
		line-height: 1.5;
	}

	.post-text>p:not(:first-child) {
		margin-top: 15px;
	}

	.post-text::after {
		content: "";
		background-color: #eeeeee;
		margin: 18px auto 40px auto;
		display: block;
		width: 390px;
		height: 3px;
	}

	.text::after {
		display: none;
	}

	/* ============== main end === */
	/*===================== Sidebar ==================================================================*/
	.section-sidebar {
		width: 270px;
	}
	
	.sidebar {
		font-size: 14px;
	}

	.figure-img {
		background-color: #666;
		width: 70px;
		height: 70px;
	}

	.post-date-sidebar {
		margin-top: -5px;
		margin-bottom: 5px;
	}

	h3 {
		text-transform: uppercase;
		font-size: 14px;
	}

	.post-title {
		color: #000;
		line-height: 1.2;
	}

	.post-title:hover {
		color: #b59f5b;
	}

	.news-post {
		display: flex;
		box-sizing: border-box;
		height: 70px;
	}

	.news-post:not(:first-child) {
		margin-top: 20px;
	}

	.news-post-date {
		min-width: 180px;
		margin: 0px 0px 0px 20px;
	}

	/* =========== news-post end ========== */
	/*===================== Search Box  &  Button ======================================================== */
	.posts-search {
		margin: 60px 0px 0px 0px;
	}

	.search-form {
		position: relative;
		margin-top: 62px;
		margin-bottom: 60px;
	}

	.search-form-input {
		background-color: #f4f7f6;
		border: 1px solid #b59a4b;
		box-sizing: border-box;
		border-radius: 3px;
		padding-left: 15px;
		position: relative;
		font-size: 10px;
		outline: none;
		width: 222px;
		height: 48px;
		z-index: 1;
	}

	.search-form-input:focus {
		border: 1px solid #b59a4b;
	}

	.search-form-button {
		margin: 0;
		position: absolute;
		height: 47px;
		width: 47px;
		background-color: #b59f5b;
		z-index: 2;
		right: 0;
		background-image: url(../svg/search.svg);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 3px;
		cursor: pointer;
	}

	.search-form-button:hover {
		background-color: #292314;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	/* ========= Search box & Button end === */
	/* =================== MAILING =============================================================== */
	.email__input {
		box-sizing: border-box;
		outline: none;
		width: 272px;
		height: 47px;
		font-size: 10px;
		background-color: #f4f7f6;
		border-radius: 3px;
		padding-left: 5px;
		border: 1px solid #f4f7f6;
	}

	.email__input:focus {
		border: 1px solid #b59a4b;
	}

	.subscription-button {
		width: 272px;
		height: 47px;
		background-color: #b59a4b;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 700;
		font-family: inherit;
		margin-top: 16px;
		border-radius: 3px;
		cursor: pointer;
	}

	.subscription-button:hover {
		background-color: #292314;
	}

	/* ============= mailing end === */
	/* =========================== TAGS ========================================================== */
	.list {
		display: flex;
		flex-wrap: wrap;
	}


	.link-tag-list {
		color: #000;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 4;
		padding: 4px 11px;
		border: 4px solid #eeeeee;
		border-radius: 1px;
		margin-right: 10px;
	}

	.link-tag-list:hover {
		border: 4px solid #b59a4b;
	}

	/* ================ tags end === */
	/* =============================TOPIC=== */
	.topic-item {
		font-weight: 700;
		display: flex;
		position: relative;
	}

	.topic-item:not(:first-child) {
		margin-top: 30px;
	}

	.topic-item-link {
		color: #000;
		font-size: 15px;
	}

	.topic-item-link:hover {
		color: #b59a4b;
	}

	.topic-item::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		top: 35px;
		background-color: #eeeeee;
	}

	.topic-item-counter {
		position: relative;
		top: 0;
		font-size: 12px;
		color: #b59a4b;
		margin-top: -8px;
	}

	/* ===================== topic end ===*/
	/*===================shop===============*/
	.schop {
		max-width: 768px;
		padding: 0px 35px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	.schop-content {
		width: 290px;
		margin: 0 29px;
	}

	.schop-img {
		width: 290px;
		margin: auto;
	}

	.schop-content-picture {
		background-color: #666;
		width: 290px;
		height: 290px;
	}

	.schop-post {
		padding: 20px 20px 25px 20px;
		width: 336px;
		height: 260px;
		left: -23px;
		top: -40px;
		border: 3px solid #d3c59d;
		border-radius: 2px;
		position: relative;
	}

	.schop-post-title {
		display: flex;
		text-align: start;
		margin-top: 18px;
		margin-bottom: 6px;
	}

	.post-txt {
		margin-bottom: 25px;
		line-height: 1.5;
		font-family: inherit;
		font-weight: 400;
	}

	.link-line {
		font-family: inherit;
		color: #baa667;
		text-decoration: underline;
	}

	.link {
		font-family: inherit;
		color: #baa667;
	}

	.button {
		width: 150px;
		height: 50px;
	}

	.button-schop {
		background-color: #b59a4b;
		text-transform: uppercase;
		font-family: inherit;
		border-radius: 3px;
		color: #ffffff;
		cursor: pointer;
		width: 150px;
		height: 50px;
		font-size: 700;
	}

	.subscription_button:hover {
		background-color: #292314;
	}

	.schop-container {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.old-price {
		text-decoration: line-through;
	}

	/*==================schop end===*/
	/* ===================================footer================================================== */
	.footer {
		padding-bottom: 30px;
		margin-top: 60px;
	}

	.container {
		max-width: 768px;
		margin: auto;
		padding: 0 15px;
	}

	.footer-social {
		display: flex;
		justify-content: center;
		padding: 30px 0;
		background-color: #f4f7f6;
	}

	.footer-social-link {
		width: 25px;
		height: 25px;
		display: block;
		background-position: center center;
		background-size: cover;
	}

	.footer-social-item {
		margin-right: 25px;
	}

	.footer-social-item:last-child {
		margin-right: 0;
	}

	.footer-copirate {
		margin-top: 70px;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 12px;
		display: flex;
		justify-content: center;
		text-align: center;
		color: #999999;
	}

}

/*===============footer end=============*/
/* ==================== tablet end============ */
@media {}

/*================================ desctop ===========*/
@media (min-width: 1200px) {
	.header {
		padding: 30px 5px;
		background-image: url(../images/banner-bg.jpg);
		background-size: cover;
		background-color: #666;
		background-repeat: no-repeat;
		background-position: center, 0px;
		position: relative;
		box-sizing: border-box;
		margin-bottom: 20px;
		z-index: 0;
	}

	.header::before {
		content: "";
		display: block;
		background-color: black;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
		position: absolute;
	}

	.header-container {
		display: flex;
		flex-direction: column;
		width: 1200px;
		padding: 0px 15px;
		margin: auto;
		position: relative;
		z-index: 30;
	}

	.header-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-menu-list {
		display: flex;
		flex-wrap: wrap;
	}

	.header-menu-item:not(:last-child) {
		margin-right: 41px;
	}

	.header-menu-link {
		color: #ede0e0;
		text-transform: uppercase;
	}

	.header-menu-link:hover {
		color: #b7adad;
		text-decoration: underline;
	}

	.header-title {
		max-width: 800px;
		margin: auto;
		padding: 100px 0px;
		text-align: center;
		color: #ffffff;
		line-height: 1.7;
		font-size: 45px;
		text-transform: uppercase;
		font-family: "open sans bold", sans-serif;
	}

	/* ================ header end =========== */

	/*===trends title=======*/
	.news-box-title {
		display: flex;
		justify-content: center;
	}

	.news-items-title {
		display: flex;
		align-items: flex-end;
		height: 100px;
	}

	.news-posts-title {
		font-size: 25px;
	}

	.news-posts-title::after {
		content: "";
		background-color: #e1d9bd;
		margin: 10px auto 17px auto;
		display: block;
		width: 65px;
		height: 2px;
	}

	/*====================trends===*/
	.trend-picture {
		height: 320px;
	}

	.box-pictures {
		display: flex;
		justify-content: center;
	}

	/*=================green garden===*/
	.box-green-garden {
		background-color: #fbfff1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		margin-right: 2px;
		z-index: 0;
	}

	.box-green-garden::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================beautiful picture===*/
	.box-beautiful-pictures {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		margin-right: 2px;
		z-index: 0;
	}

	.box-beautiful-pictures::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=========first trip===*/
	.box-trip {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		margin-right: 2px;
		z-index: 0;
	}

	.box-trip::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*=======================vitamins===*/
	.box-vitamins {
		background-color: #b8bbb1;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 49.7%;
		z-index: 0;
	}

	.box-vitamins::before {
		content: "";
		background-color: black;
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		opacity: 0.6;
		z-index: 1;
	}

	/*==vitamins end===*/
	/*================common trends=====*/

	.trend-container {
		border: 2px solid #b59a4b;
		padding: 0px 25px 0px 25px;
		margin: 80px 15px 15px 15px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		z-index: 30;
	}

	.trend-title {
		text-transform: uppercase;
		font-family: inherit;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
	}


	/*==common trend end==*/
	/*======================== MAIN =================================================*/
	.content-wrapper {
		max-width: 1200px;
		padding: 0px 15px;
		margin: auto;
		display: flex;
	}

	.list-content {
		max-width: 810px;
		margin: 50px 100px 0 0;
	}

	.content {
		box-sizing: border-box;
		display: flex;
		margin-bottom: 50px;
	}

	.content-picture {
		background-color: #666666;
		width: 390px;
		height: 300px;
	}

	.content-picture-img {
		width: 390px;
		height: 300px;
	}

	.content-text {
		width: 390px;
		margin-left: 30px;
	}

	.list-tags {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	.item-tag-link {
		color: #b59a4b;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
	}

	.item-tag-link:hover {
		color: #b59a4b;
		text-decoration: underline;
	}

	.list-tags :not(:last-child) {
		margin: 0px 18px 0px 0px;
	}

	.title {
		color: #000000;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
	}

	.title:hover {
		color: #b59f5b;
	}

	h2 {
		font-weight: 700;
		margin: 0px 0px 35px 0px;
	}

	.post-info {
		margin-bottom: 50px;
	}

	.post-date {
		color: #989898;
		font-size: 11px;
	}

	.post-autor {
		font-weight: 700;
		margin: 0px 0px 0px 15px;
	}

	.post-text>p {
		font-size: 15px;
		line-height: 1.5;
	}

	.post-text>p:not(:first-child) {
		margin-top: 15px;
	}

	/* ============== main end === */
	/*===================== Sidebar ==================================================================*/
	.section-sidebar {
		width: 270px;
	}

	.sidebar {
		font-size: 15px;
	}

	.figure-img {
		background-color: #666;
		width: 70px;
		height: 70px;
	}

	.post-date-sidebar {
		margin-top: -5px;
		margin-bottom: 5px;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1.2;
		font-size: 14px;
	}

	.post-title {
		color: #000;
		font-weight: 700;
		font-size: 13px;
	}

	.post-title:hover {
		color: #b59f5b;
	}

	.news-post {
		display: flex;
		margin-bottom: 20px;
		height: 70px;
	}

	.news-post-date {
		margin-left: 20px;
	}

	/* =========== news-post end ========== */
	/*===================== Search Box  &  Button ======================================================== */

	.search-form {
		position: relative;
		margin-top: 40px;
	}

	.search-form-input {
		background-color: #f4f7f6;
		border: 1px solid #b59a4b;
		box-sizing: border-box;
		border-radius: 3px;
		padding-left: 15px;
		position: relative;
		font-size: 10px;
		outline: none;
		width: 222px;
		height: 48px;
		z-index: 1;
	}

	.search-form-input:focus {
		border: 1px solid #b59a4b;
	}

	.search-form-button {
		margin: 0;
		position: absolute;
		height: 47px;
		width: 47px;
		background-color: #b59f5b;
		z-index: 2;
		right: 0;
		background-image: url(../svg/search.svg);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 3px;
		cursor: pointer;
	}

	.search-form-button:hover {
		background-color: #292314;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	/* ========= Search box & Button end === */
	/* =================== MAILING =============================================================== */
	.email__input {
		box-sizing: border-box;
		outline: none;
		width: 272px;
		height: 47px;
		font-size: 12px;
		background-color: #f4f7f6;
		border-radius: 3px;
		padding-left: 5px;
		border: 1px solid #f4f7f6;
	}

	.email__input:focus {
		border: 1px solid #b59a4b;
	}

	.subscription-button {
		width: 272px;
		height: 47px;
		background-color: #b59a4b;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 700;
		font-family: inherit;
		margin-top: 16px;
		border-radius: 3px;
		cursor: pointer;
	}

	.subscription-button:hover {
		background-color: #292314;
	}

	/* ============= mailing end === */
	/* =========================== TAGS ========================================================== */
	.tags-list {
		width: 270px;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
	}


	.link-tag-list {
		color: #000;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 4;
		padding: 4px 11px;
		border: 4px solid #eeeeee;
		border-radius: 1px;
		margin-right: 10px;
	}

	.link-tag-list:hover {
		border: 4px solid #b59a4b;
	}

	/* ================ tags end === */
	/* =============================TOPIC=== */
	.topic-wrap {
		width: 270px;
	}

	.topic-item {
		font-weight: 700;
		display: flex;
		position: relative;
	}

	.topic-item:not(:first-child) {
		margin-top: 30px;
	}

	.topic-item-link {
		color: #000;
		font-size: 15px;
	}

	.topic-item-link:hover {
		color: #b59a4b;
	}

	.topic-item::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		top: 35px;
		background-color: #eeeeee;
	}

	.topic-item-counter {
		position: relative;
		top: 0;
		font-size: 12px;
		color: #b59a4b;
		margin-top: -8px;
	}

	/* ===================== topic end ===*/
	/*===================shop===============*/
	.schop {
		max-width: 1200px;
		padding: 0px 15px;
		margin: auto;
		display: flex;
		justify-content:space-between;
	}

	.schop-content {
		width: 290px;
		margin: 0 29px;
	}

	.schop-img {
		width: 290px;
		margin: auto;
	}

	.schop-content-picture {
		background-color: #666;
		width: 290px;
		height: 290px;
	}

	.schop-post {
		padding: 20px 20px 25px 20px;
		width: 336px;
		height: 260px;
		left: -23px;
		top: -40px;
		border: 3px solid #d3c59d;
		border-radius: 2px;
		position: relative;
	}

	.schop-post-title {
		display: flex;
		text-align: start;
		margin-top: 18px;
		margin-bottom: 6px;
	}

	.post-txt {
		margin-bottom: 25px;
		line-height: 1.5;
		font-family: inherit;
		font-weight: 400;
	}

	.link-line {
		font-family: inherit;
		color: #baa667;
		text-decoration: underline;
	}

	.link {
		font-family: inherit;
		color: #baa667;
	}

	.button {
		width: 150px;
		height: 50px;
	}

	.button-schop {
		background-color: #b59a4b;
		text-transform: uppercase;
		font-family: inherit;
		border-radius: 3px;
		color: #ffffff;
		cursor: pointer;
		width: 150px;
		height: 50px;
		font-size: 700;
	}

	.subscription_button:hover {
		background-color: #292314;
	}

	.schop-container {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.old-price {
		text-decoration: line-through;
	}

	/*==================schop end===*/
	/* ===================================footer================================================== */
	.footer {
		padding-bottom: 30px;
		margin-top: 60px;
	}

	.container {
		max-width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	.footer-social {
		display: flex;
		justify-content: center;
		padding: 30px 0;
		background-color: #f4f7f6;
	}

	.footer-social-link {
		width: 25px;
		height: 25px;
		display: block;
		background-position: center center;
		background-size: cover;
	}

	.footer-social-item {
		margin-right: 25px;
	}

	.footer-social-item:last-child {
		margin-right: 0;
	}

	.footer-copirate {
		margin-top: 70px;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 12px;
		display: flex;
		justify-content: center;
		text-align: center;
		color: #999999;
	}

}

/*===============footer end=============*/
