/*==== BODY ====================================================================*/
body {
   font-family: "open sans regular", sans-serif;
   margin: 0;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   padding: 0px;
   margin: 0;
   border: 0px;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Open Sans Bold";
   margin: 0px;
}

h2 {
   line-height: 1;
}

h3 {
   line-height: 1;
}

h4 {
   text-transform: uppercase;
   text-align: center;
   font-size: 18px;
}

/* ===== body end ==========*/
/*==========fonts=========*/
@font-face {
   font-family: "Open Sans Regular";
   src: url("../fonts/OpenSans-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Open Sans Bold";
   src: url("../fonts/OpenSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}

@media (max-width: 640px) {

   /*=======header===*/
   .header {
      background-image: url(../images/banner-mobile.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #666666;
      background-size: cover;
      position: relative;
      max-width: 360px;
      display: block;
      margin: auto;
      z-index: 0;
   }

   .header::before {
      content: "";
      background-color: black;
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      bottom: 0px;
      opacity: 0.6;
      z-index: 1;
   }

   .header-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 0px 15px;
      z-index: 30;
      height: 640px;
   }

   .header-menu-link {
      display: none;
   }

   .header-logo-image {
      margin-bottom: 40px;
      max-width: 260px;
   }

   .header-title {
      font-family: "open sans bold", sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      line-height: 1.7;
      font-size: 24px;
   }

   /*=====header end===*/
   /*======================main===*/
   /*====================trends===*/
   /*===trends title=======*/
   .news-posts-title {
      font-family: inherit;
      margin-bottom: 40px;
      font-weight: 700;
      margin-top: 40px;
      font-size: 20px;
      color: #000;
   }

   .news-posts-title::after {
      content: "";
      background-color: #e1d9bd;
      margin: 10px auto 30px auto;
      display: block;
      width: 65px;
      height: 2px;
   }

   /*=====trends title end===============*/
   /*=================green garden===*/
   .box-green-garden {
      background-image: url(../images/trend1.jpg);
      background-repeat: no-repeat;
      background-color: #fbfff1;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto 4px auto;
      position: relative;
      max-width: 360px;
      height: 230px;
      z-index: 0;
   }

   .box-green-garden::before {
      content: "";
      background-color: black;
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 232px;
      bottom: 0px;
      opacity: 0.6;
      z-index: 1;
   }

   /*=======================beautiful picture===*/
   .box-beautiful-pictures {
      background-image: url(../images/trend2.jpg);
      background-repeat: no-repeat;
      background-color: #b8bbb1;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      margin: 0px auto 5px auto;
      position: relative;
      max-width: 360px;
      height: 230px;
      z-index: 0;
   }

   .box-beautiful-pictures::before {
      content: "";
      background-color: black;
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 232px;
      bottom: 0px;
      opacity: 0.6;
      z-index: 1;
   }

   /*=========first trip===*/
   .box-trip {
      background-image: url(../images/trend3.jpg);
      background-repeat: no-repeat;
      background-color: #b8bbb1;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto 4px auto;
      position: relative;
      max-width: 360px;
      height: 230px;
      z-index: 0;
   }

   .box-trip::before {
      content: "";
      background-color: black;
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 232px;
      bottom: 0px;
      opacity: 0.6;
      z-index: 1;
   }

   /*=======================vitamins===*/
   .box-vitamins {
      background-image: url(../images/trend4.jpg);
      background-repeat: no-repeat;
      background-color: #b8bbb1;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto 4px auto;
      position: relative;
      max-width: 360px;
      height: 230px;
      z-index: 0;
   }

   .box-vitamins::before {
      content: "";
      background-color: black;
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 232px;
      bottom: 0px;
      opacity: 0.6;
      z-index: 1;
   }

   /*==vitamins end===*/
   /*================common trends=====*/
   .trend-container {
      border: 2px solid #b59a4b;
      padding: 0px 25px 30px 25px;
      margin: 80px 15px 15px 15px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      z-index: 30;
   }

   .trend-title {
      text-transform: uppercase;
      font-family: inherit;
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
   }

   /*==common title end===*/


   /* ===============article===*/
   .content-wrapper {
      padding: 0px 15px 0px 15px;
      max-width: 360px;
      margin: auto;
   }

   .content {
      box-sizing: border-box;
      margin: 35px 0 20px 0;
      max-width: 330px;
   }

   .content-picture {
      background-color: #b59a4b;
      width: 330px;
      height: 254px;
   }

   .picture-img {
      max-width: 330px;
   }

   .content-text {
      max-width: 330px;
   }

   .row-tags {
      margin-top: 15px;
      margin-bottom: 5px;
   }

   .list-tags {
      display: flex;
   }

   .item-tag-link {
      text-transform: uppercase;
      font-family: inherit;
      color: #b59a4b;
      font-weight: 700;
      font-size: 15px;
   }

   .list-tags :not( :first-child) {
      margin: 0px 0px 0px 20px;
   }

   .item-tag-link:hover {
      text-decoration: underline;
      color: #b59a4b;
   }

   .title {
      text-transform: uppercase;
      color: #000000;
      font-weight: 700;
      font-size: 20px;
   }

   .post-info {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   .post-date {
      font-size: 10px;
   }

   .post-autor {
      font-weight: 700;
      font-size: 12px;
   }

   .post-text {
      font-weight: 400;
      font-size: 15px;
   }

   .post-text::after {
      content: "";
      background-color: #eeeeee;
      margin: 20px auto 35px auto;
      display: block;
      width: 330px;
      height: 3px;
   }

   /*============article end===*/
   /*=======================section-sidebar===*/

.sections {
   display: flex;
   width: 360px;
   margin: 0px 15px;
}

   .section-sidebar {
      max-width: 360px;
      /* padding: 0px 15px; */
      /* margin: auto;s */
   }

   .news-posts {
      display: flex;
   }

   .news-posts:not( :first-child) {
      margin: 20px 0px 0px 0px;
   }

   .news-post-date {
      margin-left: 20px;
   }

   .post-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      color: #000;
   }

   /*================================search===*/
   .search__form {
      position: relative;
      margin-top: 62px;
      margin-bottom: 60px;
   }

   .search__form_input {
      background-color: #f4f7f6;
      border: 1px solid #f4f7f6;
      box-sizing: border-box;
      border-radius: 3px;
      padding-left: 10px;
      position: relative;
      font-size: 20px;
      outline: none;
      width: 282px;
      height: 48px;
      z-index: 1;
   }

   .search__form_input:focus {
      border: 1px solid #b59a4b;
   }

   .search__form_button {
      background-image: url(../svg/search.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #b59f5b;
      background-size: 20px;
      border-radius: 3px;
      position: absolute;
      cursor: pointer;
      height: 47px;
      width: 47px;
      right: 0;
      margin: 0;
      z-index: 30;
   }

   .search__form_button:hover {
      background-color: #292314;
   }

   .visually-hidden {
      clip: rect(0 0 0 0);
      position: absolute;
      overflow: hidden;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
   }

   /*==search end====================================================================*/
   /*=============mailing===========================================*/
   .email__input {
      background-color: #f4f7f6;
      border: 1px solid #f4f7f6;
      box-sizing: border-box;
      border-radius: 3px;
      padding-left: 5px;
      outline: none;
      width: 330px;
      height: 47px;
      font-size: 18px;
   }

   .email__input:focus {
      border: 1px solid #b59a4b;
   }

   .subscription_button {
      background-color: #b59a4b;
      text-transform: uppercase;
      font-family: inherit;
      border-radius: 3px;
      color: #ffffff;
      cursor: pointer;
      margin-top: 16px;
      width: 330px;
      height: 47px;
      font-size: 700;
   }

   .subscription_button:hover {
      background-color: #292314;
   }

   /*===mailing end=============================*/
   /*==================tags======================*/
   .tags-list {
      max-width: 330px;
   }

   .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 80px;
   }

   .link-tag-list {
      border: 2px solid #f4f7f6;
      border: 4px solid #eeeeee;
      text-transform: uppercase;
      margin: 0px 6px;
      border-radius: 1px;
      padding: 4px 11px;
      font-size: 10px;
      font-weight: 700;
      line-height: 3;
      color: #000;
   }

   .link-tag-list:hover {
      border: 4px solid #b59a4b;
   }

   /*===tags end=================================*/
   /* ==========topic======================================================= */
   .topic-wrap {
      max-width: 360px;
      padding: 0px 15px;
      margin: auto;
   }

   .topic-item {
      position: relative;
      font-weight: 700;
      display: flex;
   }

   .topic-item :not(:last-child) {
      padding-bottom: 30px;
   }

   .topic-item-link {
      color: #000;
      font-size: 17px;
   }

   .topic-item-link:hover {
      color: #b59a4b;
      font-size: 17px;
   }

   .topic-item::after {
      content: '';
      background-color: #eeeeee;
      position: absolute;
      width: 100%;
      height: 3px;
      top: 30px;
   }

   .topic-item-counter {
      position: relative;
      color: #b59a4b;
      margin-top: -8px;
      font-size: 12px;
      top: 0;
   }

   /* ===topic end=======================================================*/
   /*===================shop===============================================*/
   .schop {
      max-width: 360px;
      padding: 0px 35px;
      margin: auto;
   }

   .schop-img {
      width: 290px;
      margin: auto;
   }

   .schop-post {
      padding: 20px 20px 25px 20px;
      width: 336px;
      left: -23px;
      top: -40px;
      border: 3px solid #d3c59d;
      border-radius: 2px;
      position: relative;
      margin-bottom: 30px;
   }

   .post-title {
      display: flex;
      text-align: start;
      margin-top: 25px;
      margin-bottom: 6px;
   }

   .post-txt {
      margin-bottom: 25px;
      line-height: 1.5;
      font-family: inherit;
      font-weight: 400;
   }

   .link {
      font-family: inherit;
      color: #baa667;
      text-decoration: underline;
   }

   .button {
      width: 150px;
      height: 50px;
   }

   .button-schop {
      background-color: #b59a4b;
      text-transform: uppercase;
      font-family: inherit;
      border-radius: 3px;
      color: #ffffff;
      cursor: pointer;
      width: 150px;
      height: 50px;
      font-size: 700;
   }

   .subscription_button:hover {
      background-color: #292314;
   }

   .schop-container {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   /*
   .content-wrapper {
      padding: 0px 15px 0px 15px;
      max-width: 360px;
      margin: auto;
   }

   .content {
      box-sizing: border-box;
      margin: 35px 0 20px 0;
      max-width: 330px;
   }

   .content-picture {
      background-color: #b59a4b;
      width: 330px;
      height: 254px;
   }

   .picture-img {
      max-width: 330px;
   }
   /* .trends { */
   background-image: url(../images/trend1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-color: #666666;
   width: 100vw;
   /* height: 640px; */
   /* background-size: cover; */
   box-sizing: border-box;
   position: relative;
   z-index: 0;
}

/* ======================================main end=== */
}

/* .content-wrapper { */
/* flex-wrap: wrap; */
/* width: 100%; */
/* } */
/* } */
/* @media (max-width: 768px) */
/* @media (max-width: 1200px) */
/*
.header {
   padding: 30px 5px;
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
   background-position: center, center;
   background-repeat: no-repeat;
   background-color: #666666;
    background-size: cover;
    box-sizing: border-box;
   position: relative;
     z-index: 0;
}

.header::before {
   content: "";
   display: block;
   background-color: black;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   opacity: 0.6;
   z-index: 1;
   position: absolute;
}

.header-container {
   width: 1200px;
   padding: 0px 15px;
   margin: auto;
   position: relative;
   z-index: 30;
}

.header-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-menu-list {
   display: flex;
}

.header-menu-item:not(:first-child) {
   margin-left: 41px;
}

.header-menu-link {
   color: #ede0e0;
   text-transform: uppercase;
}

.header-menu-link:hover {
   color: #b7adad;
   text-decoration: underline;
}

.header-title {
   max-width: 800px;
   margin: auto;
   padding: 100px 0px;
   text-align: center;
   color: #ffffff;
   line-height: 1.7;
   font-size: 45px;
   text-transform: uppercase;
   font-family: "open sans bold", sans-serif;
}

/* ================ header end =========== */
/*======================== MAIN =================================================*/
/*
.content-wrapper {
   width: 1200px;
   padding: 0px 15px;
   margin: auto;
   display: flex;
}

.content {
   width: 780px;
   box-sizing: border-box;
   display: flex;
   margin: 60px 120px 0px 15px;
}

.content-picture {
   background-color: #b59a4b;
   width: 379px;
   height: 257px;
}
*/
/*

.content-text {
   width: 397px;
   margin: 0px 0px 0px 30px;
}

.row-tags {
   margin-bottom: 14px;
}

.list-tags {
   display: flex;
}

.item-tag-link {
   color: #b59a4b;
   text-transform: uppercase;
   font-weight: 700;
}

.item-tag-link:hover {
   color: #b59a4b;
   text-decoration: underline;
}

.list-tags :not( :first-child) {
   margin: 0px 0px 0px 18px;
}

.title {
   color: #000000;
   text-transform: uppercase;
   font-weight: 700;
   margin: 0px 0px 35px 0px;
}

.title:hover {
   color: #b59f5b;
}


.post-info {
   margin: 0px 0px 50px 0px;
}

.post-date {
   color: #989898;
}

.post-autor {
   font-weight: 700;
   margin: 0px 0px 0px 15px;
}

.post-text > p {
   font-size: 15px;
   line-height: 22px;
   margin: 0px;
}

.post-text > p:not(first-child) {
   /* margin-top: 16px; */
}

/* ============== main end === */
/*===================== Sidebar ==================================================================*/
/*
.sections {
   width: 360px;
   margin: 0px 15px;
}

.sidebar {
   margin: 60px 15px 0px 0px;
}

.figure-img {
   background-color: #b59a4b;
   width: 69px;
   height: 54px;
}

.news-posts-title {
   margin-top: 60px;
}

.news-posts-title ::after {
   content: "";
   display: block;
   margin: 10px auto 30px auto;
   width: 65px;
   height: 2px;
   background-color: #e1d9bd;
}

h3 {
   text-transform: uppercase;
   font-size: 14px;
}

.post-title {
   color: #000;
   cursor: default;
}

.post-title:hover {
   color: #b59f5b;
}

.news-posts {
   display: flex;
   box-sizing: border-box;
   margin: 20px 0px 0px 0px;
}

.news-post-date {
   min-width: 180px;
   margin: 0px 0px 0px 20px;
}

/* =========== news-post end ========== */
/*===================== Search Box  &  Button ======================================================== */
/*
.posts-search {
   margin: 60px 0px 0px 0px;
}

.search__form {
   position: relative;
   margin-top: 62px;
   margin-bottom: 60px;
}

.search__form_input {
   outline: none;
   box-sizing: border-box;
   position: relative;
   z-index: 1;
   width: 223px;
   height: 48px;
   font-size: 20px;
   background-color: #f4f7f6;
   border-radius: 3px;
   padding-left: 10px;
   border: 1px solid #f4f7f6;
}

.search__form_input:focus {
   border: 1px solid #b59a4b;
}

.search__form_button {
   margin: 0;
   position: absolute;
   height: 47px;
   width: 47px;
   background-color: #b59f5b;
   z-index: 2;
   right: 0;
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 3px;
   cursor: pointer;
}

.search__form_button:hover {
   background-color: #292314;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* ========= Search box & Button end === */
/* =================== MAILING =============================================================== */
/*
.email__input {
   box-sizing: border-box;
   outline: none;
   width: 272px;
   height: 47px;
   font-size: 18px;
   background-color: #f4f7f6;
   border-radius: 3px;
   padding-left: 5px;
   border: 1px solid #f4f7f6;
}

.email__input:focus {
   border: 1px solid #b59a4b;
}

.subscription_button {
   width: 272px;
   height: 47px;
   background-color: #b59a4b;
   text-transform: uppercase;
   color: #ffffff;
   font-size: 700;
   font-family: inherit;
   margin-top: 16px;
   border-radius: 3px;
   cursor: pointer;
}

.subscription_button:hover {
   background-color: #292314;
}

/* ============= mailing end === */
/* =========================== TAGS ========================================================== */
/*
.list {
   display: flex;
   flex-wrap: wrap;
}

.link-tag-list {
   line-height: 3;
   text-transform: uppercase;
   padding: 4px 11px;
   border: 2px solid #f4f7f6;
   margin: 4px 8px;
   border-radius: 5px;
   color: #000;
   border: 4px solid #eeeeee;
}

.link-tag-list:hover {
   border: 4px solid #b59a4b;
}
/*
/* ================ tags end === */
/* ============================= TOPIC ======================================================= */
/*

.topic__item {
   font-weight: 700;
   padding-bottom: 30px;
   display: flex;
   position: relative;
}

.topic__item_link {
   color: #000;
   font-size: 17px;
}

.topic__item_link:hover {
   font-size: 17px;
   color: #b59a4b;
}

.topic__item::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 1px;
   top: 30px;
   background-color: #eeeeee;
}

.topic__item_counter {
   position: relative;
   top: 0;
   font-size: 12px;
   color: #b59a4b;
   margin-top: -8px;
}

/* ===================== topic end ===*/
/* ===================================footer================================================== */
/*
.footer {
   padding-bottom: 30px;
   margin-top: 60px;
}

.container {
   width: 1200px;
   margin: auto;
   padding: 0 15px;
}

.footer__social {
   display: flex;
   justify-content: center;
   padding: 30px 0;
   background-color: #f4f7f6;
}

.footer__social_link {
   width: 25px;
   height: 25px;
   display: block;
   background-position: center center;
   background-size: cover;
}

.footer__social_item {
   margin-right: 25px;
}

.footer__social_item:last-child {
   margin-right: 0;
}

.footer__copirate {
   margin-top: 70px;
   margin-bottom: 40px;
   font-weight: 700;
   font-size: 12px;
   text-align: center;
   color: #b59a4b;
}

.dribbble {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.pin {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.tum {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

/* ================================== end ==================================================== */